*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150);
}

#box-calculator{
    margin-top: 65px;
    background-color: rgba(0, 0, 0, 0.501);
    width: 350px;
    height: 420px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.755);
}

#box-calculator h3{
    color: rgba(179, 179, 179, 0.829);
    font-size: .7em;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.501);
    padding-left: 5px;
    padding-top: 5px;
    
}

#result-container{
    background-color: rgba(0, 0, 0, 0.501);
    width: 350px;
    height: 120px;
    color: white;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 35px;
    padding-bottom: 5px;
}
#buttons-container{
    display: flex;
    flex-wrap: wrap;
    margin:1px;
}
.botao{
    width: 85px;
    height: 53.4px;
    margin: 1px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.808);
    font-size: 17.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.187);
}
.botao:hover{
    background-color: rgba(62, 62, 62, 0.808);
    transition-duration: .2s;
}
.botao2{
    color: white;
    background-color: rgba(9, 9, 9, 0.55) !important;
    transition-duration: .2s;
}
.botao2:hover{
    background-color: rgba(62, 62, 62, 0.808) !important;
    transition-duration: .2s;
}

#equal{
    width: 170px;
    background-color: rgba(61, 93, 234, 0.721);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.461);
}
#equal:hover{
    background-color: rgb(73, 104, 243);
    transition-duration: .2s;
}